.header {

  /* Stick to the top */
  background-color: black;
  position: sticky;
  top: 0;

  /* Displayed on top of other rows when scrolling */
  z-index: 9999;
}

.table {
  max-height: 40vh;
  overflow-y: scroll;
}

hgroup {
  text-align: center;
}

svg {
  display: block;
  width: 100%;
  height: 70vh;
}

svg .country:hover {
  stroke: white;
  stroke-width: 1px;
  cursor: pointer;
}

.grid h3 {
  text-align: center;
}